.logo__title {
    font-family: var(--font-georgia);
    color: var(--color-primary);
    font-weight: 400;
    font-size: 200%;
    line-height: 110%;
    letter-spacing: 0.1em;
    padding-bottom: 0.4em;
    transition: color 1s;
}

.logo__text {
    color: var(--white);
    font-size: 81.25%;
    line-height: 100%;
    letter-spacing: 0.13em;
    padding-left: 5px;
    transition: color 1s;
}

.logo__link {
    text-decoration: none;
}

.logo__title--pets {
    color: var(--dark-gray-l);
}

.logo__text--pets {
    color: var(--dark-gray-l);
}

.logo__link:hover .logo__title {
    color: var(--gray-1);
    transition: all 1s;
}

.logo__link:hover .logo__text {
    color: var(--gray-1);
    transition: all 1s;
}